<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oopssinsa.model.dao.AccountMapper">

    <resultMap id="accountDtoMap" type="accountDto">
        <result column="id" property="id"/>
        <result column="password" property="password"/>
        <result column="role" property="role"/>
    </resultMap>
    <select id="findAccountById" parameterType="String" resultMap="accountDtoMap">
        select id,password,role
        from account
        where id = #{id}
    </select>

</mapper>