<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oopssinsa.model.dao.IbMapper">
    <resultMap id="ProductDto" type="productDto">
        <result column="id" property="id"></result>
        <result column="brand_id" property="brandId"></result>
        <result column="category_id" property=""></result>
        <result column="name" property="name"></result>
        <result column="size" property="size"></result>
        <result column="color" property="color"></result>
        <result column="volume" property="volume"></result>
    </resultMap>

    <resultMap id="SectionDto" type="sectionDto">
        <result column="id" property="id"></result>
        <result column="brand_id" property="brandId"></result>
        <result column="current_capacity" property="currentCapacity"></result>
        <result column="expected_capacity" property="expectedCapacity"></result>
        <result column="max_capacity" property="maxCapacity"></result>
    </resultMap>


    <!-- Result Map for IbDto -->
    <resultMap id="ibDtoMap" type="IbDto">
        <id property="id" column="id"/>
        <id property="manufactureDate" column="manufacture_date"/>
        <id property="productId" column="product_id"/>
        <result property="brandId" column="brand_id"/>
        <result property="quantity" column="quantity"/>
        <result property="ibRequestDate" column="ib_date"/>
        <result property="ibDate" column="completion_date"/>
        <result property="status" column="status"/>

    </resultMap>

    <resultMap id="locationResultMap" type="LocationDto">
        <id property="id" column="id"/>
        <result property="sectionId" column="section_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="currentCapacity" column="current_capacity"/>
        <result property="expectedCapacity" column="expected_capacity"/>
        <result property="maxCapacity" column="max_capacity"/>
    </resultMap>

    <resultMap id="productResultMap" type="ProductDto">
        <id property="productId" column="id"/>
    </resultMap>

    <resultMap id="productDtoMap" type="ProductDto">
        <result column="product_id" property="productId"/>
        <result column="name" property="name"/>
        <result column="category" property="category"/>
    </resultMap>

    <resultMap id="sectionResultMap" type="SectionDto">
        <result property="id" column="id"/>
        <result property="brandId" column="brand_id"/>
        <result property="name" column="name"/>
        <result property="expectedCapacity" column="expected_capacity"/>
    </resultMap>

    <resultMap id="ibRequestAndLocationMap" type="IbRequestAndLocationDto">
        <id property="ibId" column="ib_id"/>
        <id property="productId" column="product_id"/>
        <id property="manufactureDate" column="manufacture_date"/>
        <result property="brandId" column="brand_id"/>
        <result property="ibDate" column="ib_date"/>
        <result property="quantity" column="quantity"/>
        <result property="volume" column="volume"/>
        <result property="capacity" column="capacity"/>
        <result property="ibStatus" column="status"/>
        <result property="ibRequestDate" column="ib_request_date"/>
        <result property="locationId" column="location_id"/>
        <result property="currentCapacity" column="current_capacity"/>
        <result property="expectedCapacity" column="expected_capacity"/>
        <result property="maxCapacity" column="max_capacity"/>
        <result property="ibAvailability" column="ib_availability"/>
    </resultMap>

    <update id="updateIbState" parameterType="IbDto">
        UPDATE ib_detail
        SET status = #{status}
        WHERE id = #{id} AND manufacture_date = #{manufactureDate} AND product_id = #{productId}
    </update>

    <update id="updateExpectedCapacityLocation" parameterType="LocationDto">
        UPDATE sub_location
        SET expected_capacity = #{expectedCapacity}
        WHERE id = #{id}
    </update>

    <update id="updateExpectedCapacitySection" parameterType="SectionDto">
        UPDATE section
        SET expected_capacity = #{expectedCapacity}
        WHERE id = #{id}
    </update>

    <select id="findLocationByCategoryIdAndSectionId" parameterType="LocationDto" resultMap="locationResultMap">
        SELECT * FROM sub_location
        WHERE category_id = #{categoryId} AND section_id = #{sectionId}
    </select>

    <select id="findProductByProductId" parameterType="String" resultMap="productDtoMap">
        SELECT * FROM product WHERE id = #{productId}
    </select>

    <select id="findSectionByBrandId" parameterType="String" resultMap="sectionResultMap">
        SELECT * FROM section WHERE brand_id = #{brandId}
    </select>

    <select id="findAllIb" resultMap="ibDtoMap">
        SELECT * FROM ib_detail
    </select>

    <select id="findIbByState" parameterType="String" resultMap="ibDtoMap">
        SELECT * FROM ib_detail WHERE status = #{status}
    </select>

    <select id="findIbByRequestState" parameterType="String" resultMap="ibDtoMap">
        SELECT *,( select brand_id from product where id =ib.product_id) as brand_id
        FROM ib_detail ib
        WHERE status = 'R'
    </select>

    <select id="findIbByWaitingState" parameterType="String" resultMap="ibDtoMap">
        SELECT * FROM ib_detail WHERE status = 'W'
    </select>

    <select id="findIbRequestAndLocation" resultMap="ibRequestAndLocationMap" parameterType="java.util.List">
        <foreach collection="list" item="ibDto" separator="union all">
            select
            #{ibDto.id} as ib_id,
            #{ibDto.manufactureDate} as manufacture_date,
            #{ibDto.productId} as product_id,
            #{ibDto.brandId} as brand_id,
            #{ibDto.quantity} as quantity,
            p.volume as volume,
            (#{ibDto.quantity} *p.volume) as capacity,
            #{ibDto.ibRequestDate} as ib_request_date,
            #{ibDto.status} as status,
            IF((sl.current_capacity + sl.expected_capacity +
            <![CDATA[ (select quantity
                from ib_detail
                where product_id = #{ibDto.productId}
                and manufacture_date= #{ibDto.manufactureDate}
                and id = #{ibDto.id} ) * p.volume) <= sl.max_capacity]]>,
            'T', 'F') as ib_availability,
            sl.current_capacity as current_capacity,
            sl.expected_capacity as expected_capacity,
            sl.max_capacity as max_capacity
            from product p
            join section s on s.brand_id = p.brand_id
            join sub_location sl on sl.section_id = s.id and p.category_id = sl.category_id
            where p.id = #{ibDto.productId}
        </foreach>
    </select>
</mapper>
