<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.oopssinsa.model.dto.AccountDto" alias="accountDto"></typeAlias>
        <typeAlias type="com.oopssinsa.model.dto.ib.IbDto" alias="ibDto"></typeAlias>
        <typeAlias type="com.oopssinsa.model.dto.ib.IbRequestAndLocationDto" alias="ibRequestAndLocationDto"></typeAlias>
        <typeAlias type="com.oopssinsa.model.dto.ob.ObDetailDto" alias="obDetailDto"></typeAlias>
        <typeAlias type="com.oopssinsa.model.dto.ob.ObDto" alias="obDto"></typeAlias>
        <typeAlias type="com.oopssinsa.model.dto.ob.ObRequestAndStockDto" alias="obRequestAndStockDto"></typeAlias>
        <typeAlias type="com.oopssinsa.model.dto.ob.ObRequestDto" alias="obRequestDto"></typeAlias>
        <typeAlias type="com.oopssinsa.model.dto.AccountDto" alias="accountDto"></typeAlias>
        <typeAlias type="com.oopssinsa.model.dto.InstructionDto" alias="instructionDto"></typeAlias>
        <typeAlias type="com.oopssinsa.model.dto.LocationDto" alias="locationDto"></typeAlias>
        <typeAlias type="com.oopssinsa.model.dto.ProductDto" alias="productDto"></typeAlias>
        <typeAlias type="com.oopssinsa.model.dto.SectionDto" alias="sectionDto"></typeAlias>
        <typeAlias type="com.oopssinsa.model.dto.StockDto" alias="stockDto"></typeAlias>
        <typeAlias type="com.oopssinsa.model.dto.WorkerDto" alias="workerDto"></typeAlias>
        <!--        지정한 패키지 하위의 모든 클래스를 소문자로 시작하는 별칭으로 등록한다. -->
        <package name="com.oopssinsa"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
<!--                <property name="url" value="jdbc:mysql://mysql.coffit.today/osswmsdb"/>-->
                <property name="url" value="jdbc:mysql://techbrew4.iptime.org:3306/osswmsdb"/>
                <property name="username" value="oops"/>
                <property name="password" value="oops"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="sql/manager/ob-mapper.xml"/>
        <mapper resource="sql/manager/location-mapper.xml"/>
        <mapper resource="sql/manager/ib-mapper.xml"/>
        <mapper resource="sql/manager/worker-mapper.xml"/>
        <mapper resource="sql/manager/account-mapper.xml"/>
    </mappers>
</configuration>