<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oopssinsa.model.dao.LocationMapper">

    <resultMap id="sectionDtoMap" type="sectionDto">
        <result column="id" property="id"/>
        <result column="brand_id" property="brandId"/>
        <result column="current_capacity" property="currentCapacity"/>
        <result column="expected_capacity" property="expectedCapacity"/>
    </resultMap>

    <resultMap id="subLocationDtoMap" type="subLocationDto">
        <result column="id" property="id"/>
        <result column="current_capacity" property="currentCapacity"/>
        <result column="expected_capacity" property="expectedCapacity"/>
    </resultMap>

    <select id="getCurrentCapacity" resultType="int">
        select current_capacity
        from sub_location
        where id = #{targetLocationId}
    </select>

    <update id="updateCurrentCapacity" parameterType="subLocationDto">
        update sub_location
        set current_capacity = #{currentCapacity},
        expected_capacity = (expected_capacity + #{expectedCapacity})
        where id = #{id}
    </update>

    <update id="updateSectionCurrentCapacity">
        update section
        set current_capacity = (
            select sum(current_capacity)
            from sub_location
            where section_id = (
                select section_id
                from sub_location
                where id = #{locationId}
                )
            )
    </update>

</mapper>