<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oopssinsa.model.dao.LoginMapper">

    <resultMap id="loginDtoMap" type="loginDto">
        <result column="id" property="id"/>
<!--        <result column="brand_id" property="brandId"/>-->
<!--        <result column="name" property="name"/>-->
        <result column="password" property="password"/>
<!--        <result column="role" property="role"/>-->
    </resultMap>

    <select id="loginValidation" resultMap="loginDtoMap">
        select id, password
        from account
        where id = #{id} and password = #{password}
    </select>

    <update id="updateSectionCurrentCapacity">
        update section
        set current_capacity = (select sum(current_capacity) from sub_location where section_id = #{sectionId}),
        max_capacity = (select sum(max_capacity) from sub_location where section_id = #{sectionId}));
    </update>

</mapper>