<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oopssinsa.model.dao.StockMapper">
    <resultMap id="stockDtoMap" type="stockDto">
        <result column="product_id" property="id"/>
        <result column="manufacture_id" property="manufactureId"/>
        <result column="location_id" property="locationId"/>
        <result column="quantity" property="quantity"/>
        <result column="expected_quantity" property="expectedQuantity"/>
    </resultMap>
    <resultMap id="stockHisMap" type="stockHistoryDto">
        <result column="manufacture_id" property="manufactureId"/>
        <result column="product_id" property="productId"/>
        <result column="quantity" property="quantity"/>
        <result column="date" property="date"/>
    </resultMap>
</mapper>